<ion-list no-lines>
	<button (click)="buyFullVersion()" ion-item>Buy full version</button>
	<button (click)="needHelp()" ion-item>Need help?</button>
	<button (click)="settings()" ion-item>Settings</button>
</ion-list>