<!--
  Generated template for the ReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
    <ion-content>
        <ion-card (click)="level1()">
            <ion-card-header [ngClass]="{'setcolor':currentPracticetest == 1}">
              <b>Missed questions</b>
            </ion-card-header>
            <span class="icon-forward"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
            <ion-card-content>
              Review your hardest questions
            </ion-card-content>
          </ion-card>
          <ion-card (click)="level2()">
            <ion-card-header [ngClass]="{'setcolor':currentPracticetest == 2}">
              <b>Passed questions</b>
            </ion-card-header>
            <span class="icon-forward"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
            <ion-card-content>
              Review your weakest questions
            </ion-card-content>
          </ion-card>
          <ion-card (click)="level3()">
            <ion-card-header [ngClass]="{'setcolor':currentPracticetest == 3}">
              <b>Unanswered</b>
            </ion-card-header>
            <span class="icon-forward"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
            <ion-card-content>
              25 of 25 questions
            </ion-card-content>
		  </ion-card>
		  <ion-card (click)="level3()">
				<ion-card-header [ngClass]="{'setcolor':currentPracticetest == 3}">
				  <b>Bookmarked</b>
				</ion-card-header>
				<span class="icon-forward"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
				<ion-card-content>
				  0 of 25 questions
				</ion-card-content>
			  </ion-card>
    </ion-content>
</ion-content>
