<!-- Generated template for the PracticeTestTabsComponent component -->
<super-tabs class="set-color" height="100%" id="mainTabs" [selectedTabIndex]="defaultSelectedIndex" [config]="{  transitionEase: 'cubic-bezier(0,0,1,1)'}" (tabSelect)="onTabSelect($event)">
  <super-tab title="Practice" [root]="rootPage1" [rootParams]="combinedData"></super-tab>
  <super-tab title="Review" [root]="rootPage2"></super-tab>
</super-tabs>