<!--
  Generated template for the StandardSettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Standard Setting</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

<revision-tabs ></revision-tabs>

</ion-content>
