<!--
  Generated template for the BuildExamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Exam simulator</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    What is your name?

  </ion-item>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>