page-financialaccountingstudies {
    .ion-ios-paper-outline:before{
        color: #2a7776;
    }
}
.fabRadius{
    border-radius: 6%;
    border : 1px solid #2a7776;
}
.toolbar-background-md{
    background: #2a7776;
}
.header-md::after{
    left: 0;
   position: absolute;
    width: 100%;
    background-image: none;
}
.ion-ios-book-outline:before{
    color: #ffffff;
}

.ion-ios-time-outline:before{
    color: #ffffff;
}
.ion-logo-foursquare:before{
    color: #ffffff;

}
.fab-color-circle{
    background-color: #2a7776;
}
.scroll-content{
    overflow-y: visible;
}
.fab-color-square{
    background-color: #ffffff;
   
}
.fab-md{
    margin-left: 50%;
    transform: translate(-50%,0);
    box-shadow: none;
}
.col{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-right: 20px;
}
.pt-10{
    padding-top: 10px;
}
.fa{
    font-size: 2.4rem;
}
.fa-graduation-cap{
    color: #2a7776;
}