
<ion-content padding>
	<div>
		<ion-fab>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<button (click)="gotoPage('standard-setting')" class="fab-color-circle" ion-fab><i class="fa fa-book" aria-hidden="true"></i></button>
						<div class="pt-10">Levy and Collection of Tax</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-6>
						<button (click)="gotoPage('conceptual-framework')" class="fab-color-circle" ion-fab><i class="fa fa-book" aria-hidden="true"></i></button>
						<div class="pt-10">Time and Value of Supply</div>
					</ion-col>
					<ion-col col-6>
						<button (click)="gotoPage('financial-reporting-and-presentation')" class="fab-color-circle" ion-fab><i class="fa fa-book" aria-hidden="true"></i></button>
						<div class="pt-10">Input Tax Credit (ITC)</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12>
						<button (click)="gotoPage('quiz1_3')" class="fabRadius fab-color-square" ion-fab><ion-icon  name="ios-paper-outline"></ion-icon></button>
						<div class="pt-10">Registration</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12>
						<button (click)="gotoPage('sec-reporting-requirements')" class="fab-color-circle" ion-fab><i class="fa fa-book" aria-hidden="true"></i></button>
						<div class="pt-10">Tax Invoice, Credit and Debit Notes</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-6>
						<button (click)="gotoPage('other-financial-statement-presentations')" class="fab-color-circle" ion-fab><i class="fa fa-book" aria-hidden="true"></i></button>
						<div class="pt-10">Accounts and Records</div>
					</ion-col>
					<ion-col col-6>
						<button (click)="gotoPage('financial-statement-accounts')" class="fab-color-circle" ion-fab><i class="fa fa-book" aria-hidden="true"></i></button>
						<div class="pt-10">Returns</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12>
						<button (click)="gotoPage('quiz4_6')" class="fabRadius fab-color-square" ion-fab><ion-icon name="ios-paper-outline"></ion-icon></button>
						<div class="pt-10">Payment of Tax</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12>
						<button (click)="gotoPage('financial-statements-accounts-cont1')" class="fab-color-circle" ion-fab><i class="fa fa-book" aria-hidden="true"></i></button>
						<div class="pt-10">Refund of Integrated Tax to International Tourist</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-6>
						<button (click)="gotoPage('financial-statements-accounts-cont2')" class="fab-color-circle" ion-fab><i class="fa fa-book" aria-hidden="true"></i></button>
						<div class="pt-10">Assessment</div>
					</ion-col>
					<ion-col col-6>
						<button (click)="gotoPage('financial-statements-accounts-cont3')" class="fab-color-circle" ion-fab><i class="fa fa-book" aria-hidden="true"></i></button>
						<div class="pt-10">Audit</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12>
						<button (click)="gotoPage('quiz7_9')" class="fabRadius fab-color-square" ion-fab><ion-icon name="ios-paper-outline"></ion-icon></button>
						<div class="pt-10">Inspection, Search, Seizure and Arrest</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12>
						<button (click)="gotoPage('transactions-events-discloures')" class="fab-color-circle" ion-fab><i class="fa fa-book" aria-hidden="true"></i></button>
						<div class="pt-10">Demands and Recovery </div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-6>
						<button (click)="gotoPage('transactions-events-discloures-cont1')" class="fab-color-circle" ion-fab><i class="fa fa-book" aria-hidden="true"></i></button>
						<div class="pt-10">Liability to pay in certain cases</div>
					</ion-col>
					<ion-col col-6>
						<button (click)="gotoPage('transactions-events-discloures-cont2')" class="fab-color-circle" ion-fab><i class="fa fa-book" aria-hidden="true"></i></button>
						<div class="pt-10">Advance Ruling</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12>
						<button (click)="gotoPage('quiz10_12')" class="fabRadius fab-color-square" ion-fab><ion-icon name="ios-paper-outline"></ion-icon></button>
						<div class="pt-10">Appeals and Revision</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12>
						<button (click)="gotoPage('transactions-events-discloures-cont3')" class="fab-color-circle" ion-fab><i class="fa fa-book" aria-hidden="true"></i></button>
						<div class="pt-10">Offences and Penalties</div>
					</ion-col>
				</ion-row>
				<!-- <ion-row>
					<ion-col col-6>
						<button (click)="gotoPage('government-accounting-and-reporting')" class="fab-color-circle" ion-fab><i class="fa fa-book" aria-hidden="true"></i></button>
						<div class="pt-10">Governmental Accounting and Reporting</div>
					</ion-col>
					<ion-col col-6>
						<button (click)="gotoPage('government-accounting-and-reporting-cont')" class="fab-color-circle" ion-fab><i class="fa fa-book" aria-hidden="true"></i></button>
						<div class="pt-10">Governmental Accounting and Reporting (cont.)</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12>
						<button (click)="gotoPage('quiz13_15')" class="fabRadius fab-color-square" ion-fab><ion-icon name="ios-paper-outline"></ion-icon></button>
						<div class="pt-10">Quiz 13-15</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12>
						<button (click)="gotoPage('nonprofit-accounting-and-reporting')" class="fab-color-circle" ion-fab><i class="fa fa-book" aria-hidden="true"></i></button>
						<div class="pt-10">Nonprofit Accounting and Reporting</div>
					</ion-col>
				</ion-row> -->
				<!-- <ion-row>
					<ion-col col-12>
						<button (click)="gotoPage('final-exam')" class="fabRadius fab-color-square" ion-fab><i class="fa fa-graduation-cap" aria-hidden="true"></i></button>
						<div class="pt-10">Final exam</div>
					</ion-col>
				</ion-row> -->
			</ion-grid>
		</ion-fab>
	</div>
</ion-content>