<ion-header>
	<ion-navbar>
		<ion-title>{{title}}</ion-title>
		<ion-buttons end>
			<button class="more-btn" ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<super-tabs height="100%" id="mainTabs" selectedTabIndex="0"  [config]="{  transitionEase: 'cubic-bezier(0,0,1,1)'}" (tabSelect)="onTabSelect($event)">
		<super-tab icon="ios-book-outline"  [root]="rootPage1"></super-tab>
		<super-tab icon="ios-paper-outline" [root]="rootPage2"></super-tab>
		<super-tab icon="ios-time-outline" [root]="rootPage3"></super-tab>
	</super-tabs>
</ion-content>
