page-home {
    .ion-ios-paper-outline{
        color: #ffffff;
    }
}
.more-btn{
color: #ffffff;
}
.toolbar-title-md{
    color: #ffffff;
}
 .button-md-primary{
background-color: #ffffff;
}
.popover-md .popover-content {
    width: 137px;
    right: 14px;
    left: auto !important;
}
.item-md {
    padding-left: 12px;
}