
<ion-header>

  <ion-navbar>
    <ion-title>Practice Test 4<i (click)="settings()" class="fa fa-cog position-right" aria-hidden="true"></i></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <practice-test-tabs [Questions]="questions"></practice-test-tabs>
</ion-content>