page-exambuilder {

}
.color-green{
    color: #2a7776;
}
.align-right{
    text-align: right;
    color: #2a7776;
}
.content-overflow{
    overflow: visible;
}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md{
    color: black;
}
ion-label.align-right.label.label-md{
    color: #2a7776;
}
.select-md .select-icon .select-icon-inner{
    color: #2a7776;
}

.button-full-md{
    border-radius: 2px;
}
.label-md{
    margin: 0;
}
.select-md{
    padding: 13px 5px 13px 0px;
}
.select-text{
    min-width: 2px;
    color: #2a7776;}
.set-color{
   color: #2a7776;
}
input[type="checkbox"], input[type="radio"]{
    zoom: 1.2;
    vertical-align: middle;
    margin-right: 0.4em;
    font-size: 5px;
    margin-bottom: 1px;
}
.mt-15{
    margin-top: 15px;
}
.mt-10{
    margin-top:10px;
}

