<ion-content padding>
	<button ion-button (click)="buildExam()" full>BUILD NOW</button>
	<!-- <ion-item>
		<ion-label>Filter</ion-label>
		<ion-label class="align-right">All Questions<i class="fa fa-caret-down" aria-hidden="true"></i></ion-label>
	</ion-item> -->

	<ion-item>
		<ion-label class="content-overflow">Filter</ion-label>

		<!-- <ion-label class="align-right">All Questions</ion-label> -->
		<ion-select [(ngModel)]="filter">
			<ion-option value="missedQuestions">Missed questions</ion-option>
			<ion-option value="passedQuestions">Passed questions</ion-option>
			<ion-option selected value="unanswered">Unanswered</ion-option>
			<ion-option value="bookmarked">Bookmarked</ion-option>
		</ion-select>
	</ion-item>
	<ion-item>
		<ion-label class="content-overflow">Number of questions</ion-label>
		<!-- <ion-label class="align-right">15</ion-label> -->

		<ion-select [(ngModel)]="noOfQuestionsSelected">
			<ion-option selected value="5">5</ion-option>
			<ion-option value="10">10</ion-option>
			<ion-option value="15">15</ion-option>
			<ion-option value="20">20</ion-option>
			<ion-option value="25">25</ion-option>
			<ion-option value="30">30</ion-option>
			<ion-option value="35">35</ion-option>
			<ion-option value="40">40</ion-option>
			<ion-option value="45">45</ion-option>
			<ion-option value="50">50</ion-option>
		</ion-select>
	</ion-item>
	<ion-item>
		<ion-label class="content-overflow">Number of minutes</ion-label>
		<!-- <ion-label class="align-right">10</ion-label> -->

		<ion-select [(ngModel)]="noOfMinutesSelected">
			<ion-option selected value="5">5</ion-option>
			<ion-option value="10">10</ion-option>
			<ion-option value="15">15</ion-option>
			<ion-option value="20">20</ion-option>
			<ion-option value="25">25</ion-option>
			<ion-option value="30">30</ion-option>
			<ion-option value="35">35</ion-option>
			<ion-option value="40">40</ion-option>
			<ion-option value="45">45</ion-option>
			<ion-option value="50">50</ion-option>
		</ion-select>
	</ion-item>
	<ion-item>
		<ion-label class="content-overflow">Show me answers</ion-label>
		<ion-toggle checked="false"></ion-toggle>
	</ion-item>

	<!-- <div class="mt-15">
		<input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();" /> <span class="color-green">Select all</span>
		<div class="mt-10" *ngFor="let n of names">
			<input type="checkbox" [(ngModel)]="n.selected" (change)="checkIfAllSelected($event,n.name);"> {{n.name}}
		</div>
	</div> -->
</ion-content>