<!--
  Generated template for the ReminderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Reminder</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item>
		<ion-range min="0" pin="true" max="23" step="1" (ionChange)="getTime($event)" [(ngModel)]="hours" color="secondary">
			<ion-label range-left>0</ion-label>
			<ion-label range-right>23</ion-label>
		</ion-range>
	</ion-item>
	<div class="text-center"><b>Set after {{hours}} hours</b></div>
</ion-content>