<!--
  Generated template for the GovernmentAccountingAndReportingContPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Government Accounting and Reporting Cont</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <revision-tabs></revision-tabs>
</ion-content>
