<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title class="ml-22">Settings</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<button class="my-button" ion-button outline>
      <span class="mr-90">Daily Reminder</span>
      <ion-toggle (ionChange)="schedule($event)"></ion-toggle>
    </button>
	<button (click)="reminderSet()" class="my-button" ion-button outline>
       <span class="mr-153">Reminder time</span>
    </button>
</ion-content>