page-settings {

}
.my-button{
    width: 100%;
    text-transform: none;
    border-radius: 10px;
    border-color: #2a7776;
    color: #2a7776;
    background-color: #65a3a2;
}
.mr-90{
    margin-right: 90px;
}
.mr-153{
    margin-right: 153px;
}
.toggle-md.toggle-checked .toggle-icon {
    background-color: #89dfdc;
}
.toggle-md.toggle-checked .toggle-inner{
    background-color: #57b3b1;
}
