<!-- Generated template for the RevisionTabsComponent component -->

<super-tabs class="set-tabs" height="100%" id="mainTabs" [selectedTabIndex]="defaultSelectedIndex"  [config]="{  transitionEase: 'cubic-bezier(0,0,1,1)'}" (tabSelect)="onTabSelect($event)">
  <super-tab title="R1" [root]="rootPage1"></super-tab>
  <super-tab title="R2" [root]="rootPage2"></super-tab>
  <super-tab title="R3" [root]="rootPage3"></super-tab>
  <super-tab title="R4" [root]="rootPage4"></super-tab>
</super-tabs>
