page-practicetests {

}
.setcolor{
    color: #2a7776;
}
.card-header-md{
       padding: 5px;
    }
.card-content-md{
    padding: 0px 5px 8px 5px;
    font-size: 1.1rem;
}
.icon-forward{
    position: absolute;
    color: #0070dd;
    right: 20px;
    top: 5px;
    font-size: 32px;
}
ion-card{
    position: relative;
}
.bar-button-default-md{
    color: #ffffff;
}
.fa-angle-double-right:before{
    font-weight: bold;
}
.position-right{
    float: right;
}
span.title.text.text-md{
      color: #fff;
}
progress {
    width: 100%;
    height: 5px;
    vertical-align: baseline;
    position: absolute;
    bottom: 0px;
    position: left;
}

