<ion-content>
	<ion-card (click)="practiceTest1()">
		<ion-card-header [ngClass]="{'setcolor':currentPracticetest == 1}">
			<b>Practice Test 1</b>
		</ion-card-header>
		<span class="icon-forward"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>

		<ion-card-content>
			25 questions
		</ion-card-content>
		<!-- <progress value="22" max="25"></progress> -->
	</ion-card>
	<ion-card (click)="practiceTest2()">
		<ion-card-header [ngClass]="{'setcolor':currentPracticetest == 2}">
			<b>Practice Test 2</b>
		</ion-card-header>
		<span class="icon-forward"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
		<ion-card-content>
			25 questions
        </ion-card-content>
		<!-- <progress value="22" max="25"></progress> -->
	</ion-card>
	<ion-card (click)="practiceTest3()">
		<ion-card-header [ngClass]="{'setcolor':currentPracticetest == 3}">
			<b>Practice Test 3</b>
		</ion-card-header>
		<span class="icon-forward"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
		<ion-card-content>
			25 questions
		</ion-card-content>
		<!-- <progress value="22" max="25"></progress> -->
	</ion-card>
	<ion-card (click)="practiceTest4()">
		<ion-card-header [ngClass]="{'setcolor':currentPracticetest == 4}">
			<b>Practice Test 4</b>
		</ion-card-header>
		<span class="icon-forward"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
		<ion-card-content>
			25 questions
		</ion-card-content>
		<!-- <progress value="22" max="25"></progress> -->
	</ion-card>


</ion-content>