.coming-soon {
    .coming-soon-card{
        text-align: center;
        height: 100%;
        img{
            height: 34rem;
            width: auto;
            display: inline-block;
        }
        button{
            background: transparent;
            width: 100%;
            height: 9rem;
            border-radius: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            padding: 1.5rem 0 1.5rem;
            margin: 0;
            box-shadow: none;
            line-height: normal;
            font-weight: normal;
            text-transform: none;
            color: #2a7776;
            .button-inner{
                display: block;
                ion-row{
                    text-align: center;
                    display: block;
                    font-size: 2rem;
                    padding: .5rem 0;
                    .fa{
                        font-size: 6rem;
                        color: #2a7776;
                    }

                }
            }
        }
        .button:hover, .button:active{
            background: transparent;
            box-shadow: none;
        }

    }
}