<!--
  Generated template for the ComingSoonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Coming Soon</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="coming-soon">
  <div class='coming-soon-card'>

            <img src='assets/img/coming-soon.png'>
            <ion-card>
                <button ion-button (click)='goToPage("home")'>
                    <ion-row>
                        <i class="fa fa-home"></i>
                    </ion-row>
                    <ion-row>
                        Go back to Home
                    </ion-row>
                </button>
            </ion-card>
        </div>
</ion-content>
