<!--
  Generated template for the Practicetest1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Practice Test 1<i (click)="settings()" class="fa fa-cog position-right" aria-hidden="true"></i></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <practice-test-tabs [Questions]="questions" [practiceTestName]="testName"></practice-test-tabs>
 
  
</ion-content>
