<!--
  Generated template for the PracticetestSettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Set config</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="text-center">Number of questions per set</div>

  <ion-item>
    <ion-range min="1" pin="true" max="50" step="1" (ionChange)="getRange($event)" [(ngModel)]="saturation" color="secondary">
      <ion-label range-left>1</ion-label>
      <ion-label range-right>50</ion-label>
    </ion-range>
  </ion-item>
  <div class="text-center"><b>{{range}}</b></div>
  <button (click)="getOpenQuestions()" class="btn-center" ion-button>Confirm</button>
</ion-content>