page-practicetest-settings {

}
.range-md-secondary .range-bar-active, .range-md-secondary .range-knob, .range-md-secondary .range-pin, .range-md-secondary .range-pin::before{
   background: #2a7776 ;
}
.text-center{
    text-align: center;
}
.item-md.item-block .item-inner{
    border-bottom: none;
}
.btn-center{
    width: 74%;
    margin-left: 46%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 50%);
    position: fixed;
}
