<!--
  Generated template for the PracticePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
	<ion-slides pager>

		<ion-slide *ngFor="let question of questionArray">
			{{question | json}}
			<ion-item>{{question.question}}</ion-item>
			<ion-list radio-group (ionChange)="mcqAnswer($event,question.answer)">
				<ion-item *ngFor="let op of question.options">
					<ion-label>{{op.label}}</ion-label>
					<ion-radio [value]="op.value"></ion-radio>
				</ion-item>
			</ion-list>
		</ion-slide>
		



	</ion-slides>
	<div *ngIf="isCorrect">Correct</div>


</ion-content>