<!--
  Generated template for the BuyfullversionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="ml-22">Buy full version</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    {{error | json}}
    {{products | json}}
  <i class="fa fa-lock lock-center" aria-hidden="true"></i>
  <div class="align-center"><b>One-time payment for the LIFETIME premium features</b></div>
  <div class="pl-pt-20">
		<div>(+) <b>Ads Free</b></div>
		<div>(+) <b>The ENTIRE</b> self-paced course</div>
		<div>(+) <b class="darkred">100+</b> Exam Questions</div>
		<div>(+) <b class="darkred">728+</b> Flashcards and Terms</div>
		<div>(+) <b>Lifetime access</b> to Exam Builder</div>
		<div>(+) <b class="darkred">45-day</b> money back guarantee</div>
  </div>
  <div class="pl-20-pt-10"><small ><i>(No Renewal Fees. No Time Limit)</i></small></div>
  <div class="mt-22"><button (click)="paymentRecieve()" ion-button full>UNLOCK NOW - $3.99</button></div>
</ion-content>
