page-buyfullversion {

}
.ml-22{
    margin-left: 22px;
}
.lock-center{
    font-size: 165px;
    color: gray;
    margin-left: 50%;
    transform: translate(-50%,0);
}
.align-center{
    font-size: 19px;
    text-align: center;
}
.pl-pt-20{
    padding-left: 15px;
    padding-top: 15px;
}
.darkred{
    color: darkred;
}
.pl-20-pt-10{
    padding-left: 15px;
    padding-top: 10px;
}
.mt-22{
    margin-top: 22px;
}
.fa-lock:before {
    font-size: 18rem;
}
.button-md{
    background-color: #2A7776;
}